@{
    ViewBag.Title = "Página de inicio";
}

<h1 class="Centrar">
    ¡Bienvenido al TP de diciembre!
</h1>
<div>
    @Html.ActionLink("Iniciar Sesión", "Login", "Home") <br/><br/>
    @Html.ActionLink("Registrarse", "Registrar", "Home")
</div>

